---
import About from "../components/about/About.astro";
import Career from "../components/career/Career.svelte";
import Contact from "../components/contact/Contact.svelte";
import Footer from "../components/footer/Footer.svelte";
import Hero from "../components/hero/Hero.svelte";
import Navbar from "../components/navbar/Navbar.svelte";
import Project from "../components/project/Project.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <body>
    <Navbar client:load />
    <Hero client:load />
    <About />
    <Career client:load />
    <Project client:load />
    <Contact client:load />
    <Footer client:load />
  </body>
</Layout>
